.contacts {
  margin-bottom: 60px;


  &__title {
    width: 100%;
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 34px;
    font-weight: 700;
    background: linear-gradient(
                    45deg, #f15200 33%, #f58400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f15200;
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    max-width: 680px;
    margin-right: 0;
    margin-left: auto;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: -50px;
      left: -600px;
      background-image: url("../img/instruments7.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 500px;
      height: 500px;
      z-index: -1;
      pointer-events: none;
    }
  }

  &__item {
  }

  &__name {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 600;
  }

  p {
    margin-top: 0;
    a{
      text-decoration: none;
      color: inherit;
    }
  }
  &__social{
      a{
          text-decoration: none;
          display: inline-block;
          margin-right: 5px;
          &:last-child{
              margin-right: 0;
          }
      }
  }
  @include r(767){
    &__body {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        
    
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: -150px;
          margin-top: -125px;
          width: 250px;
          height: 250px;
        }
    }
    &__title {
       
        grid-column-start: 1;
        grid-column-end: 1;
        font-size: 18px;
        font-weight: 700;
        color: #f15200;
        margin-bottom: 30px;
        text-align: right;
    }
    &__item{
        text-align: right;
    }
    &__name {
        display: none;
      }
      p {
        margin-top: 0;
        a{
          text-decoration: none;
          display: block;
          color: #020202;
        }
      }
    }
}