.format-magz{
	margin-bottom: 60px;
	&__title{
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 60px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 4px;
			left: -30px;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			overflow: hidden;
			background: linear-gradient(45deg, #f15200 33%, #f58400);
		}
	}
	&__body{
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
		grid-gap: 30px;
	}
	&__item{

	}
	&__name{
		font-size: 24px;
		margin-bottom: 26px;
		font-weight: 600;
	}
}