.nav{
	padding: 30px 0;
	&__body{
		display: flex;
		justify-content: space-around;
	}

	a{
		font-size: 18px;
		line-height: 24px;
		text-decoration: none;
		background: linear-gradient(45deg, #f15200 33%, #f58400);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #f15200;
		text-transform: uppercase;
	}
}