.what-ermak{
	margin-bottom: 60px;
	&__body{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 70px;
		align-items: center;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 20px;
			left: -50%;
			background-image: url("../img/instruments.png");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			width: 896px;
			height: 100%;
			z-index: -1;
		}
	}
	&__title{
		font-size: 34px;
		font-weight: 600;
		background: linear-gradient(45deg, #f15200 33%, #f58400);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #0B2349;
	}
	&__subtitle{
		font-size: 16px;
		line-height: 24px;
	}
	&__logo{
		margin-top: 60px;
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
		grid-gap: 50px;
		&-item{
			display: flex;
			align-items: center;
			justify-content: center;
            height: 100%;
		}
	}
    &__icons{}
	img{
		max-width: 100%;
		display: block;
		object-fit: cover;
	}
    @include r(767){
        &__body{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 70px;
            align-items: center;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: 20px;
                left: -50%;
                background-image: url("../img/instruments.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 896px;
                height: 100%;
                z-index: -1;
            }
        }
        &__txt{
            max-width: 300px;
            text-align: right
        }
        &__icons{
            display: none;
        }
    }
}