.work {
    margin-bottom: 60px;
    &__title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
        margin-left: 30px;
        position: relative;
        display: block;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 4;

        &:before {
            content: "";
            position: absolute;
            top: 4px;
            left: -30px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            overflow: hidden;
            background: -o-linear-gradient(45deg, #f15200 33%, #f58400);
            background: linear-gradient(45deg, #f15200 33%, #f58400);
        }
    }
    img{
        
    }
    &__pdf {
        font-size: 24px;
        font-weight: 600;
        text-align: right;
        color: #222222;
        position: relative;
        padding-left: 40px;
        margin-top: 20px;
        display: block;
        text-align: right;
        margin-left: auto;
        margin-right: 0;
        width: fit-content;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("../img/icon-pdf.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 22px;
            height: 30px;
        }
    }
    .swiper-container{
        overflow: hidden;
        position: relative;
    }
    .swiper-slide img {
        max-width: 100%;
		display: block;
		object-fit: cover;
        height: auto;
    }
    .swiper-button-prev{
        width: 60px;
        height: 100%;
        background-image: url(../img/arrow.png);
        background-repeat: no-repeat;
        background-position: center left;
        top: 0;
        left: 0;
        margin-top: 0;
        opacity: 1;
    }
    .swiper-button-next{
        width: 60px;
        height: 100%;
        background-image: url(../img/arrow.png);
        background-repeat: no-repeat;
        background-position: center right;
        top: 0;
        right: 0;
        margin-top: 0;
        opacity: 1;
        transform: rotate(180deg);
    }
    @include r(767){
        text-align: center;
        &__title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 30px;
            margin-left: 0;
            text-align: center;
            &:before {
                content: "";
                position: absolute;
                top: 4px;
                left: 0;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                overflow: hidden;
                background: linear-gradient(45deg, #f15200 33%, #f58400);
            }
            &:after {
                position: absolute;
                top: 4px;
                right: 0;
                width: 14px;
                height: 14px;
                content: "";
                border-radius: 50%;
                overflow: hidden;
                background: -o-linear-gradient(45deg, #f15200 33%, #f58400);
                background: linear-gradient(45deg, #f15200 33%, #f58400);
            }
        }
        &__pdf {
            font-size: 14px;
            line-height: 24px;
            font-weight: 600;
            text-align: center;
            color: #888888;
            position: relative;
            padding-left: 40px;
            margin-top: 30px;
            display: inline-block;
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0,-50%);
                background-image: url("../img/icon-pdf.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                width: 22px;
                height: 30px;
            }
        }
        img{
            max-width: 100%;
            object-fit: contain;
            height: auto;
        }
    }
}
