@import "partials/normalize";

@import "mixin";
@import "fonts";
@import "icon";
@import "buttons";
@import "form";
@import "table";
@import "tabs";
@import "alert";

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;
    &.lock {
        overflow: hidden;
    }
}

.wrp {
    overflow: hidden;
    position: relative;
}
p{
    font-size: 16px;
    line-height: 24px;
    color: #888888;
}

.d-none {
    display: none;
}
.d-flex{
    display: flex;
}

.d-desktop-none {
    display: none;
    @include r(767) {
        display: block;
    }
}

.d-mobile-none {
    display: block;
    @include r(767) {
        display: none !important;
    }
}

.container {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: "";
    width: 100%;
    height: 100%;
    color: #999;
    background-image: url("../img/icons-sprite.svg#slider-arrow");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
}

.text-warning {
    color: #F2994A;
}
.text-danger{
    color: #eb5757;
}
.text-link{
    color: #324c9a;
}
.text-white{
    color: #fff;
}

.text-success {
    color: #6fcf97;
}
.text-muted {
    color: #a4a9bb;
}
.text-center {
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.d-block {
    display: block;
}

.mb-0{
    margin-bottom: 0!important;
}


@import "componets/header";
@import "componets/footer";
@import "componets/nav";
@import "componets/what-ermak";
@import "componets/format-magz";
@import "componets/assort";
@import "componets/vigodny-contract";
@import "componets/commerce";
@import "componets/summa-invest";
@import "componets/shipments";
@import "componets/partner-privileges";
@import "componets/effective-area";
@import "componets/support";
@import "componets/escort";
@import "componets/bonus";


